/** MODIFIED CSS ***/

@font-face {
	font-family: FontLatoHairline;
	src: url(Lato/Lato-Hairline.ttf);
	font-size: 21pt;
}

@font-face {
	font-family: FontLatoLight;
	src: url(Lato/Lato-Light.ttf);
	font-size: 21pt;
}

/* END MODIFIED CSS ***/

body
{
	margin: 0;
	padding: 0;
	color: #666;
	background: #FFFFFF;
	font-family: FontLatoHairline;
	font-size: 21pt;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

/***** MODIFIED CSS *****/

.form-rounded-corner {
	-moz-border-radius: 10px;

	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

.input-rounded-corner {
	-moz-border-radius: 5px;

	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.button-rounded-corner {
	-moz-border-radius: 3px;

	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
}


.login-form {
	background: #F2F2F2;
	margin-right: auto;
	margin-left: auto;
	padding: 15px 25px 15px 25px;
	margin-top: 120px;
	width: 30%;
	text-align: center;
	max-width: 300px;
	border: #E6E6E6 1px solid;
}

.signup-form {
	background: #F2F2F2;
	margin-right: auto;
	margin-left: auto;
	padding: 15px 25px 15px 25px;
	margin-top: 80px;
	width: 30%;
	text-align: center;
	max-width: 300px;
	border: #E6E6E6 1px solid;
}

.login-row {
	margin-bottom: 5px;
}

.iris-button:hover {
	background: #E74B3C;
	color: #FFF;
	border: 0;
	font-weight: bold;
}

.iris-button {
	background: #F2F2F2;
	color: #E74B3C;
	font-weight: bold;
	border: 0;
	width: 35%;
}

.iris-cancel:hover {
	background: #E4E4E4;
	color: #666;
	font-weight: bold;
	border: 0;
	width: 35%;
}

.iris-cancel {
	background: #F2F2F2;
	color: #666;
	font-weight: bold;
	border: 0;
	width: 35%;
}

.iris-link, .iris-link:hover {
	color: #E74B3C;
	font-weight: bold;
	text-decoration: none;
	font-size: 14pt;
}

.iris-textfield {
	background: #FFF;
	padding: 5px 10px 5px 10px;
	border: 1px solid #F2F2F2;
	width: 90%;
	line-height: 21px;
	border: #E6E6E6 1px solid;
}

.iris-index {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.iris-index .row .row-welcome, 
.iris-index .row .row-cap,
.iris-index .row .iris-red-label,
.iris-index .row-logout {
	font-family: FontLatoLight;
	text-align: center;
}

.row-welcome {
	color: #666;
	font-size: 48pt;
}

.row-cap {
	color: #666;
	font-size: 24pt;
}

.iris-red-label a {
	color: #E74B3C;
	font-size: 48pt;
	text-decoration: none;
}

.iris-index .row .hexagon {
	margin-left: auto;
	margin-right: auto;
}








.hexagon:hover:before {
  content: '';
  display: block;
  background-image: url(https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xaf1/t1.0-9/10624606_428505790621445_2643014639926098230_n.jpg);
  width: 20px; /* image width */
  height: 100px; /* image height */
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.6;
}

.hexagon {
  position: relative;
  width: 226px; 
  height: 130.48px;
  margin: 65.24px 0;
  background-image: url(https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/10418358_10202725772639610_4213992033456247481_n.jpg?oh=625066714f73e265d6a127b62f8bfa8a&oe=546F7301&__gda__=1415635692_25db1671d0b6fe116a510b3d4bce4ba9);
  background-size: auto 260.9623px;
  background-position: center;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 159.81px;
  height: 159.81px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 33.10px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 226.0000px;
  height: 130.48116083685542px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-65.2406px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-65.2406px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-65.2406px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -79.9031px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -79.9031px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 226.0000px;
  height: 130.4812px;
  z-index: 2;
  background: inherit;
}